<div>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Image</th>
			<th>State</th>
			<th>Nickname</th>
			<th>Capital</th>
			<th>Entry Year</th>
			<th>Governor</th>
			<th>Senior Senator</th>
			<th>Junior Senator</th>
		</tr>
		<tr>
			<th>{{x.id}}</th>
			<th><img ng-src="{{x.Image}}"></th>
			<th>{{x.State}}</th>
			<th>{{x.Nickname}}</th>
			<th>{{x.Capital}}</th>
			<th>{{x.Year}}</th>
			<th>{{x.Governor}}</th>
			<th>{{x.sSenator}}</th>
			<th>{{x.jSenator}}</th>
		</tr>
	</table>
</div>